block content
  if error
    .alert-danger
      p #{error}
  .container
    form(action="/user", method="POST", enctype="multipart/form-data")
      div
        label image
        input(class="btn btn-primary" ,type='file', name='todo')
      div
        labal Name
        input(type='text', name='name')
      div
        button(class="btn btn-primary", type='submit') Save