extends layout

block content
  .container(ng-controller='UserCtrl')
    div
      label Buscar 
      input(ng-model='user.name')
      a(href="/") Gravar Outras
    div(style="width=800")
      div(style="float : left; padding: 10px" ng-repeat="user in users | filter:user.name")
        a(ng-href="/user/{{user.id}}") 
          p Name : {{user.name}}
          img(alt="{{user.name}}", height="200", width="200" ,ng-src="{{user.foto}}")
    script(src='/javascripts/userctrl.js')